/* =========================
   VARIÁVEIS
========================= */
:root {
  --bg: #0b0d12;
  --bg-soft: #111420;
  --card: #151a2e;

  --text: #e5e7eb;
  --muted: #9ca3af;

  --neon: #00f5ff;
  --neon-pink: #ff2fd6;
  --neon-purple: #7c7cff;

  --border: rgba(255,255,255,0.08);
}
.btn.back {
  
  background-color: #418285;
   padding: 11px 14px;
  cursor: pointer;
  border: solid #ffffff 1px;
  margin: 40px;
   margin-left: 42px;
   
}
.back-container {
  padding: 26px 0 0;
}

.btn.back:hover {
  background: #345557;
  color: #000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: radial-gradient(circle at top, #12162a, var(--bg));
  color: var(--text);
  min-height: 100vh;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  background: linear-gradient(
    90deg,
    rgba(0,245,255,0.15),
    rgba(124,124,255,0.05),
    transparent
  );
  border-bottom: 1px solid var(--border);
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 1.4rem;
  color: var(--neon);
  letter-spacing: 1px;
}

.logo span {
  color: var(--text);
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  color: var(--muted);
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--neon);
  transition: 0.3s;
}

.nav a:hover {
  color: var(--neon);
}

.nav a:hover::after {
  width: 100%;
}


.hero {
  padding: 80px 24px;
  text-align: center;
}

.hero h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 2.6rem;
  margin-bottom: 16px;
  background: linear-gradient(90deg, var(--neon), var(--neon-pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: var(--muted);
  margin-bottom: 28px;
  font-size: 1.1rem;
}

/* BOTÕES*/
.btn {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  color: var(--text);
}

.btn.primary {
  background: linear-gradient(90deg, var(--neon), var(--neon-purple));
  color: #000;
  box-shadow: 0 0 18px rgba(0,245,255,0.4);
  font-size: 22px;
}
.btn.secundary{
  background:  #527488;
  border: solid 1px white;
 
}
.btn.secundary:hover{
  color: #3d4e58;
}
.btn.primary:hover {
  filter: brightness(1.1);
}

.btn.fav {
  border: 1px solid var(--border);
  color: var(--neon-pink);
}

/* =========================
   CATEGORIAS
========================= */
.categories {
  display: flex;
  gap: 14px;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.cat-btn {
  padding: 8px 16px;
  border-radius: 999px;
  background: var(--card);
  border: 1px solid var(--border);
  color: var(--muted);
  cursor: pointer;
  transition: 0.3s;
}

.cat-btn:hover {
  color: var(--neon);
  border-color: var(--neon);
}

.cat-btn.active {
  background: linear-gradient(90deg, var(--neon), var(--neon-purple));
  color: #000;
  border: none;
}

/* =========================
   PRODUTOS
========================= */
.products-section {
  padding: 40px 32px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 22px;
}

.product-card {
  background: linear-gradient(180deg, var(--card), #0f1222);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(0,245,255,0.25);
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 1rem;
  font-weight: 600;
}

.price {
  color: var(--neon);
  font-weight: 100;
  font-size: 20px;
}
.cart{
  margin:40px 24px;
  padding:20px;
  border-radius:16px;
  background:#111;
  color:#fff;
  max-width:420px;
}

.cart h2{
  margin-bottom:12px;
}

.cart-items{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.cart-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#1c1c1c;
  padding:10px;
  border-radius:10px;
}

.cart-item span{
  font-size:14px;
}

.cart-item button{
  background:red;
  border:none;
  color:#fff;
  padding:4px 8px;
  border-radius:6px;
  cursor:pointer;
}

.cart-footer{
  margin-top:14px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.empty{
  opacity:.6;
  font-size:14px;
}

/* =========================
   FAVORITOS
========================= */
.favorites {
  padding: 50px 32px;
  border-top: 1px solid var(--border);
}

.favorites h2 {
  margin-bottom: 20px;
  font-family: "Orbitron", sans-serif;
  color: var(--neon-pink);
}

.favorites-list {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

/* =========================
   FOOTER
========================= */
.footer {
  padding: 30px;
  text-align: center;
  color: var(--muted);
  border-top: 1px solid var(--border);
}

/* =========================
   RESPONSIVO
========================= */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .nav {
    display: none;
  }
}
.product-page{
  display:flex;
  gap:40px;
  padding:60px;
  align-items:center;
}
#productDesc {
  font-size: 1.40rem;   /* aumenta a fonte */
   color: var(--muted);  /* texto mais confortável */
 }
#productSpecs{
  font-size: 1.44rem;
}
.product-page img{
  width:320px;
  object-fit:contain;
}
 
.product-info{
  max-width:420px;
}
.product-detail {
  display: grid;
  grid-template-columns: 1.0fr 2fr; /* imagem maior que infos */
  gap:100px;
  align-items: start;
  
}
/* ====================================
   BARRA DE BUSCA
   ==================================== */
.search-section {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}

.search-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 16px 50px 16px 20px;
  font-size: 16px;
  border: 2px solid rgba(0, 217, 255, 0.3);
  border-radius: 12px;
  background: rgba(26, 26, 46, 0.8);
  color: white;
  outline: none;
  transition: all 0.3s ease;
  font-family: 'Inter', sans-serif;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-input:focus {
  border-color: #00d9ff;
  box-shadow: 0 0 20px rgba(0, 217, 255, 0.3);
  background: rgba(26, 26, 46, 1);
}

.clear-search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 71, 87, 0.2);
  border: none;
  color: #ff4757;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.clear-search:hover {
  background: rgba(255, 71, 87, 0.4);
  transform: translateY(-50%) scale(1.1);
}

.search-results {
  text-align: center;
  margin-top: 15px;
  color: #00d9ff;
  font-size: 14px;
  font-weight: 600;
}

.search-results.no-results {
  color: #ff4757;
}

/* Animação para produtos não encontrados */
.product-card.hidden {
  display: none;
}

.product-image img{
  width:1100px;
  height: 600px;
  max-width:none;
  object-fit:contain;
  border: #8b0505;
}

.product-info h1{
  font-size:1.6rem;
  margin-bottom:10px;
}

.rating{
  color:#ffb703;
  margin-bottom:12px;
}

.stock{
  color:#22c55e;
  font-weight:600;
  margin-bottom:10px;
}

.product-info ul{
  margin-top:14px;
  padding-left:20px;
}

.product-info li{
  margin-bottom:6px;
}
.product-image {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* imagem grande */
.main-image {
  width: 600px;
}

.image-container {
  background: #fff;
  padding: 50px;      /* mais espaço interno */
  border-radius: 16px;
  max-width: 800px;   /* controla o tamanho total */
}

/* galeria */
.image-gallery img {
  width: 110px;
  height: 110px;
}


.image-gallery img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  background: #fff;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  border: 2px solid transparent;
  transition: 0.2s;
}

.image-gallery img:hover {
  opacity: 1;
}

.image-gallery img.active {
  opacity: 1;
  border-color: var(--neon);
}
.cart {
  position: relative;
  font-size: 24px;
}

#cartCount {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
